.heroContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    display: flex;
    text-align: center;
    height: 80vh; /* Full screen height */
    color: white; /* Adjust based on your design */
    font-size: 2rem;
    font-weight: bold;

    position: relative; /* Ensure the section is positioned properly */
    overflow: hidden; /* Prevent overflow if content gets too big */

    background: linear-gradient(0deg, rgba(198,226,239,1) 0%, rgba(173,198,233,1) 85%);

}


.heroTextContainer {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 25px

}

.paragraph {
    font-size: 18px;
    max-width: 80%;
    color: var(--blue-six);
    font-weight: 400;

}

.title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: var(--blue-six);
    font-size: 7vw; /* Default responsive font size based on viewport width */
    text-align: center;
    line-height: 1.1;
    transition: font-size 0s ease-in-out; /* Smooth transition for font size */
    white-space: nowrap;
  }
  
  

.rightImageOuter {
    width: 10vw; /* Use viewport width for responsiveness */
    position: absolute;
    top: 1rem; /* Adjust the vertical positioning */
    right: -1.5rem; /* Adjust the horizontal positioning */
    max-width: 80px; /* Ensure images don't get too large */
    max-height: 80px; /* Keep images from getting too tall */
    padding-right: 40px;
    z-index: 9;
  }

  .rightImageInner {
    width: 10vw; /* Use viewport width for responsiveness */
    position: absolute;
    top: 1.5rem; /* Adjust the vertical positioning */
    right: -1.1rem; /* Adjust the horizontal positioning */
    max-width: 80px; /* Ensure images don't get too large */
    max-height: 80px; /* Keep images from getting too tall */
    padding-right: 40px;
  }
  
  .leftImageOuter {
    width: 10vw; /* Use viewport width for responsiveness */
    position: absolute;
    top: 1rem; /* Adjust the vertical positioning */
    left: -1.5rem; /* Adjust the horizontal positioning */
    max-width: 80px; /* Ensure images don't get too large */
    max-height: 80px; /* Keep images from getting too tall */
    padding-left: 40px;
    z-index: 9;
  }
  .leftImageInner {
    width: 10vw; /* Use viewport width for responsiveness */
    position: absolute;
    top: 1.5rem; /* Adjust the vertical positioning */
    left: -1.1rem; /* Adjust the horizontal positioning */
    max-width: 80px; /* Ensure images don't get too large */
    max-height: 80px; /* Keep images from getting too tall */
    padding-left: 40px;

  }

  @media (max-width: 600px) {
    .heroContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      display: flex;
      text-align: center;
      height: 25vh; 
  }
    .heroContainer {
        justify-content: flex-start;
        padding-top: 60px;
    }

    .title {
      font-size: 9vw; /* Default responsive font size based on viewport width */
      line-height: 1.1;
    }
    .paragraph {
      font-size: 1rem;
      max-width: 85%;
      color: var(--blue-six);
      font-weight: 400;
  
  }

    .rightImageOuter {
        width: 6vw; /* Use viewport width for responsiveness */
        position: absolute;
        top: 3.3rem;
        right: 2rem; /* Adjust the horizontal positioning */
        max-width: 60px; /* Ensure images don't get too large */
        max-height: 60px; /* Keep images from getting too tall */
        padding-right: 40px;
        z-index: 9;
      }
    
      .rightImageInner {
        width: 6vw; /* Use viewport width for responsiveness */
        position: absolute;
        top: 3rem;
        right: 1.7rem; /* Adjust the horizontal positioning */
        max-width: 80px; /* Ensure images don't get too large */
        max-height: 80px; /* Keep images from getting too tall */
        padding-right: 40px;
      }
      
      .leftImageOuter {
        width: 6vw;
        top: 3.3rem;
        left: 1.7rem;
        max-width: 60px;
        max-height: 60px; 
        padding-right: 40px;
        z-index: 9;
      }
      .leftImageInner {
        width: 6vw; 
        position: absolute;
        top: 3rem;
        left: 1.4rem;
        max-width: 60px;
        max-height: 60px;
      }

}
