.navContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    transition: all 0.3s ease;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99900;

}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

/* Background only wraps around NavList when scrolling */
.scrolled {
    background: rgba(152, 208, 252, 0.54); /* Light blue background */
    backdrop-filter: blur(10px); /* Slight blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */

}

/* Nav Item Styles */
.navItem {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.navLink {
    font-size: var(--font-size-link);
    text-decoration: none;
    color: var(--blue-six);
    padding: 5px 15px;
    border-radius: 20px;
    transition: background 0.3s;
    user-select: none;
    font-weight: 500;
}

.separator {
    margin-left: 5px;
    color: var(--blue-six);
    font-weight: bold;
    transition: opacity 0.3s ease;
}

/* Indicator */
.circleIndicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    border-radius: 20px;
    background: rgba(238, 247, 254, 0.74);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out, top 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .navList {
        flex-direction: row;
        gap: 3px;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 99900;
    }

    .navItem {
        padding: 10px 0;
    }

    .circleIndicator {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
